@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 39 100% 50%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 39 100% 50%;
 
    --popover: 0 0% 0%;
    --popover-foreground: 39 100% 50%;
 
    --primary: 39 100% 50%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 0%;
    --secondary-foreground: 39 100% 50%;
 
    --muted: 0 0% 20%;
    --muted-foreground: 39 70% 50%;
 
    --accent: 39 100% 50%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 39 100% 50%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 39 100% 50%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 0%;
    --foreground: 39 100% 50%;

    --card: 0 0% 10%;
    --card-foreground: 39 100% 50%;
 
    --popover: 0 0% 10%;
    --popover-foreground: 39 100% 50%;
 
    --primary: 39 100% 50%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 20%;
    --secondary-foreground: 39 100% 50%;
 
    --muted: 0 0% 20%;
    --muted-foreground: 39 70% 50%;
 
    --accent: 39 100% 50%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 39 100% 50%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 39 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
